nav {
	background-color: #ade9ff;
}
header {
	display: flex;
	align-items: center;
}
footer {
	background-color: #fff833;
}
body {
	background-color: #fff3c2;
	display: flex;
	width: 100%;
}
article img {
	width: 150px;
	height: 225px;
}
.jumbotron {
	background-color: #fff833;
	padding: 10px;
	margin: 0px;
}
.disclaimer {
	font-size: 12px;
}
.discommend {
	background-color: #fff833;
}
#logo {
	width: 75px;
	height: 75px;
}
#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background-color: #edcc5f; 
	color: #fff;
	transition: all 0.3s;
	overflow: auto;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
	padding: 20px;
	background: #ebc33f;
}
#sidebar .sidebar-content {
	padding: 10px;
	text-align: center;
}
#content-wrapper {
	width: calc(100% - 250px);
	padding: 5px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}
#content-wrapper.active {
	width: 100%;
}
#sidebarCollapse {
	position: fixed;
	background-color: #daa520;
	border-color: #a67700;
}
#sidebarCollapse img {
	width: 30px;
	height: 35px;
}
#search {
	background-color: #faeaaa;
	padding: 5px 10px;
}
#result {
	padding: 5px;
	min-height: 249px;
}
#result div {
	padding: 10px;
	display: flex;
}
#result table {
	align-self: center;
	margin: 5px;
	width: 100%;
}
#result td {
	width: 50%;
}
#result td[rowspan="3"] {
	text-align: right;
}